.customer-support {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 92px;
    position: relative;
    background-color: #f4f4f3;
}



.customer-support .frame {
    display: inline-flex;
    align-items: center;
    gap: 393px;
    position: relative;
    flex: 0 0 auto;
}

.customer-support .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.customer-support .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #727271;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    position: relative;
    flex: 0 0 auto;
}

.customer-support .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #727271;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .img {
    position: relative;
    width: 92px;
}

.customer-support .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 67px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 150px;
}

.customer-support .support-container {
    display: flex;
    flex-direction: column;
    width: 373px;
    align-items: center;
    gap: 25px;
    position: relative;
}

.customer-support .text-wrapper-3 {
    align-self: stretch;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #342928;
    font-size: 20px;
    position: relative;
    margin-top: -1.00px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .p {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #727271;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .frame-3 {
    display: flex;
    flex-direction: column;
    width: 831px;
    align-items: center;
    gap: 84px;
    position: relative;
}

.customer-support .title-hero {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 77px;
}

.customer-support .text-wrapper-4 {
    position: absolute;
    width: 344px;
    top: -1px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #342928;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .text-wrapper-5 {
    position: absolute;
    width: 829px;
    top: 60px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #727271;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .frame-4 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 14px 21px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.customer-support .input-field {
    width: 405px;
    height: 46px;
    padding: 19px 10px;
    position: relative;
    background-color: #ffffff;
    border: none;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
    color: #858585;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    outline: none;

}


.customer-support .input-field-2 {
    display: flex;
    width: 405px;
    height: 46px;
    align-items: center;
    justify-content: center;
    padding: 19px 10px;
    position: relative;
    background-color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
    color: #858585;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
    outline: none;
}

.customer-support .text-wrapper-6 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
    color: #858585;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .input-field-3 {
    display: flex;
    width: 831px;
    height: 228px;
    align-items: flex-start;
    padding: 19px 10px;
    position: relative;
    background-color: #ffffff;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
    color: #858585;
    font-size: 15px;
    letter-spacing: 0;
    outline: none;
    line-height: normal;
    border: none;
    resize: none; /* Prevents the textarea from being resized */
    overflow-y: auto; /* Adds vertical scroll if text exceeds height */
}

.customer-support .footer {
    display: flex;
    flex-wrap: wrap;
    height: 1044px;
    align-items: center;
    justify-content: center;
    gap: 120px 104px;
    padding: 171px 227px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ebebeb;
}

.customer-support .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 105px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.customer-support .frame-6 {
    display: flex;
    flex-direction: column;
    width: 889px;
    align-items: center;
    gap: 47px;
    padding: 4px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.customer-support .frame-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.customer-support .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    height: 78px;
    margin-top: -1.00px;
    font-family: "Montserrat-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #59504fe6;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .text-wrapper-8 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #685f5f;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .frame-8 {
    display: flex;
    width: 406px;
    height: 46px;
    align-items: center;
    gap: 10px;
    padding: 27px 23px;
    position: relative;
    background-color: #ffffff;
}

.customer-support .text-wrapper-9 {
    position: relative;
    width: 190.59px;
    margin-top: -9.00px;
    margin-bottom: -7.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #858585;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .frame-9 {
    display: flex;
    align-items: center;
    gap: 104px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.customer-support .frame-10 {
    display: flex;
    flex-direction: column;
    width: 192px;
    height: 191px;
    align-items: flex-start;
    gap: 15px;
    position: relative;
}

.customer-support .frame-11 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.customer-support .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #685f5f;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.customer-support .frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.customer-support .frame-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.customer-support .text-wrapper-11 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #685f5f;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .text-wrapper-12 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #685f5f;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .frame-13 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 191px;
    align-items: flex-start;
    gap: 15px;
    position: relative;
}

.customer-support .frame-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -47.00px;
}

.customer-support .text-wrapper-13 {
    position: relative;
    width: 191px;
    margin-top: -1.00px;
    margin-right: -4.00px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #685f5f;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .text-wrapper-14 {
    position: relative;
    width: 213px;
    margin-right: -26.00px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #685f5f;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.customer-support .frame-15 {
    display: flex;
    flex-direction: column;
    width: 192px;
    height: 191px;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    margin-right: -109.00px;
}

.customer-support .frame-16 {
    display: flex;
    flex-direction: column;
    width: 1423px;
    height: 136px;
    align-items: center;
    gap: 19px;
    position: relative;
    margin-left: -218.50px;
    margin-right: -218.50px;
}

.customer-support .frame-17 {
    position: relative;
    flex: 0 0 auto;
}

.customer-support .line-wrapper {
    display: flex;
    flex-direction: column;
    width: 1425px;
    height: 39px;
    align-items: center;
    gap: 19px;
    position: relative;
    margin-left: -1.00px;
    margin-right: -1.00px;
}

.customer-support .line {
    position: relative;
    width: 1423.88px;
    height: 1.88px;
    margin-bottom: -1.00px;
    object-fit: cover;
}

.customer-support .frame-18 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 153px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.customer-support .frame-19 {
    display: inline-flex;
    align-items: flex-start;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}

.customer-support .frame-20 {
    display: flex;
    width: 275px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.customer-support .text-wrapper-15 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #685f5f;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
